@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}

@theme {
    --font-inter: "Inter", sans-serif;
    --font-inter-tight: "Inter Tight", sans-serif;

    --color-hero: #ff383c;
    --color-hero-dark: #fb2c36;

    --color-accent: #ff383c;
    --color-accent-dark: #e32428;

    --color-accent-hovered: #d8272a;
    --color-accent-hovered-dark: #af1b1e;

    --color-primary-text: #000000;
    --color-secondary-text: #71717b;

    --color-primary-text-dark: #ffffff;
    --color-secondary-text-dark: #9f9fa9;

    --color-primary-hovered: #f3f4f6;
    --color-primary-hovered-dark: #2d2f34;

    --color-primary1: #ffffff;
    --color-primary2: #f9fafb;
    --color-primary3: #f9fafb;
    --color-primary4: #f9fafb;
    --color-primary5: #d1d5dc;
    --color-primary6: #99a1af;

    --color-primary1-dark: #222327;
    --color-primary2-dark: #1d1e22;
    --color-primary3-dark: #2d2f34;
    --color-primary4-dark: #28292e;
    --color-primary5-dark: #36383f;
    --color-primary6-dark: #525660;

    --breakpoint-xxs: 24rem;
    --breakpoint-xs: 28rem;
    --breakpoint-md2: 58rem;
    --breakpoint-lg2: 70rem;
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}
