@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@import "tailwindcss/preflight";
@tailwind utilities;

@theme {
    --font-roboto: "Inter Tight", sans-serif;
    --color-dark-primary1: #1e263a;
    /* --color-dark-primary2: #1c2235;
    --shadow-TEST: 0 35px 35px rgba(0, 0, 0, 0.25); */
}
